<div>
  <div>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="productName" name="productName" placegolder="Enter Product Name"
        [(ngModel)]="productName">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="productName" name="productName" placegolder="Enter Product Name"
        [(ngModel)]="productName">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="productName" name="productName" placegolder="Enter Product Name"
        [(ngModel)]="productName">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="productName" name="productName" placegolder="Enter Product Name"
        [(ngModel)]="productName">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="productName" name="productName" placegolder="Enter Product Name"
        [(ngModel)]="productName">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="productName" name="productName" placegolder="Enter Product Name"
        [(ngModel)]="productName">
      </div>
      
    </form>
  </div>
</div>